/*
  * Must have.
  * Let element can scroll.
*/
.set-cus-scroll {
  height: 100%;
  overflow-y: scroll;
}

/*
  * Must have.
  * Hide scroll bar.
*/
.set-cus-scroll::-webkit-scrollbar {
  display: none;
}

/*
  * Custom it.
  * Bar container.
*/
.cus-scroll-bar {
  position: absolute;
  right: 0;
  top: 0px;
  width: 10px;
  height: calc(100% - 20px);
}

/*
  * Custom it.
  * Bar style.
*/
.cus-scroll-bar span {
  cursor: pointer;
  width: 100%;
  height: 20px;
  border-radius: 100% 0 0 100%/50%;
  background: orange;
  position: absolute;
  right: 0;
  top: 0%;
  z-index: 9;
}
